$color_black_100: #000;
$color_grey: #7f7f7f;
$color_dark_grey: #404040;
$color_green: #027a3e;
$color_lime_green: #61c250;
$color_red_100: #c62032;
$color_red_25: #f1c7cc;
$color_orange: #f26423;
$color_win10: #29e;
$color_silver_75: #cdd2d6;
$color_silver_50: #dde1e3;
$color_silver_25: #eef0f1;
$color_disabled: #ebebe4;
$color_light_blue_25: #dbf1fa;
$color_white: #fff;

$color_border_grey: #d1d5d8;
$color_front_blue: #5b85c6;
